# frameFromDict

Create a data frame from a dictionary.

Run the following command to enable autocompletion.

In [33]:
%config Completer.use_jedi = False

In [23]:
import pandas as pd

In [24]:
data = { 'state' : [ 'Ohio' , 'Ohio' , 'Ohio' , 'Nevada' , 'Nevada' , 'Nevada' ], 'year' : [ 2000 , 2001 , 2002 , 2001 , 2002 , 2003 ], 'pop' : [ 1.5 , 1.7 , 3.6 , 2.4 , 2.9 , 3.2 ]}

In [25]:
frame = pd.DataFrame(data)

In [26]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [27]:
frame.dtypes

state     object
year       int64
pop      float64
dtype: object

In [28]:
frame.head(2)

  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7

In [29]:
frame.tail(2)

    state  year  pop
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [30]:
frame.columns

Index(['state', 'year', 'pop'], dtype='object')

In [31]:
frame['pop']

0    1.5
1    1.7
2    3.6
3    2.4
4    2.9
5    3.2
Name: pop, dtype: float64

In [35]:
frame['pop'].min()

1.5

In [36]:
frame['pop'].mean()

2.5500000000000003

In [37]:
frame['pop'].describe()

count    6.000000
mean     2.550000
std      0.836062
min      1.500000
25%      1.875000
50%      2.650000
75%      3.125000
max      3.600000
Name: pop, dtype: float64

In [38]:
frame.values

array([['Ohio', 2000, 1.5],
       ['Ohio', 2001, 1.7],
       ['Ohio', 2002, 3.6],
       ['Nevada', 2001, 2.4],
       ['Nevada', 2002, 2.9],
       ['Nevada', 2003, 3.2]], dtype=object)