# pandasSeries

Some experiments with data series in pandas.

Import the pandas module.

In [1]:
import pandas as pd

Create a data series from a list.

In [2]:
list01 = [0, 1, 2, 3]

In [3]:
list01

[0, 1, 2, 3]

In [4]:
series01 = pd.Series(list01)

In [5]:
series01

0    0
1    1
2    2
3    3
dtype: int64

In [27]:
series01.describe()

count    4.000000
mean     1.500000
std      1.290994
min      0.000000
25%      0.750000
50%      1.500000
75%      2.250000
max      3.000000
dtype: float64

In [7]:
list02 = ["a", "b", "c", "d"]

In [8]:
list02

['a', 'b', 'c', 'd']

In [9]:
series02 = pd.Series(list02)

In [10]:
series02

0    a
1    b
2    c
3    d
dtype: object

In [11]:
list01[1]

1

In [12]:
series01[1]

1

Create a data frame from the two series. Note this assumes the indexes are the same.

In [23]:
dataFrame01 = pd.DataFrame(data = dict(s1 = series01, s2 = series02))

In [24]:
dataFrame01

   s1 s2
0   0  a
1   1  b
2   2  c
3   3  d

In [26]:
dataFrame01.describe()

             s1
count  4.000000
mean   1.500000
std    1.290994
min    0.000000
25%    0.750000
50%    1.500000
75%    2.250000
max    3.000000

Describe (get summary stats on a specific column or series).

In [30]:
dataFrame01['s1'].describe()

count    4.000000
mean     1.500000
std      1.290994
min      0.000000
25%      0.750000
50%      1.500000
75%      2.250000
max      3.000000
Name: s1, dtype: float64