# pyDataFrames02

Include this line to enable auto completion:

In [10]:
%config Completer.use_jedi = False

In [11]:
import pandas as pd

Generate some lists:

In [12]:
name = ['Mark', 'Dave', 'John']

In [13]:
age = [55, 36, 42]

In [14]:
weight = [230, 165, 195]

In [15]:
name

['Mark', 'Dave', 'John']

In [16]:
age

[55, 36, 42]

In [17]:
weight

[230, 165, 195]

In [19]:
dfPeople = pd.DataFrame({'Name':name, 'Age':age, 'Weight':weight})

In [20]:
dfPeople

   Name  Age  Weight
0  Mark   55     230
1  Dave   36     165
2  John   42     195